.cate-image{
    width: 100px;
    height: 140px;
}
.options{
    width: 500px;
    border: none;
    border-bottom: 1px solid #000000;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: #7b809a;
    margin-left: 0.25rem;
    font-weight: 700 !important;
}
.checkk{ text-align: center;
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: #7b809a;
    margin-left: 0.25rem;
    font-weight: 700 !important;

}
table.fixed { table-layout:fixed;  }
